<%= simple_form_for(@skill, html: { class: 'skill-form', multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.input :name %>
  </div>

  <div class="field">
    <%= f.label :level %>
    <%= f.collection_select :level, ['beginner', 'intermediate', 'advanced', 'expert'], :itself, :capitalize, {}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :section %>
    <%= f.collection_select :section, ['soft', 'hard'], :itself, :capitalize, {}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.input :description %>
  </div>

  <!-- Champ pour l'icône -->
  <div class="field">
    <%= f.label :icon %>
    <%= f.file_field :icon, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn" %>
  </div>

  <% if @skill.persisted? %>
    <%= link_to 'Destroy', skill_path(@skill), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

<% end %>
