<h1>Skill details</h1>

<p><strong>Name :</strong> <%= @skill.name %></p>
<p><strong>Level :</strong> <%= @skill.level %></p>
<p><strong>Section :</strong> <%= @skill.section %></p>

<%= link_to 'Modify', edit_skill_path(@skill) %> |
<%= link_to "Supprimer", skill_path(@skill), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce diplôme ?" }, "turbo-frame": "_top" %>
<%= link_to 'Back', skills_path %>
