<h1>Détails du Skill</h1>

<p><strong>Nom :</strong> <%= @skill.name %></p>
<p><strong>Niveau :</strong> <%= @skill.level %></p>
<p><strong>Section :</strong> <%= @skill.section %></p>

<%= link_to 'Modifier', edit_skill_path(@skill) %> |
<%= link_to 'Retour', skills_path %>
