<body>
<body>
  <!-- Bannière avec superposition du h1 -->
  <div class="banner position-relative">
    <img src="https://images.unsplash.com/photo-1614849286521-4c58b2f0ff15?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="skills banner">
    <h1 class="text-white position-absolute bottom-0 start-50 translate-middle-x mb-4 text-center">SKILLS DETAILS</h1>
  </div>

  <div class="container d-flex justify-content-center align-items-center flex-column mt-5 no-padding">

    <div class="card w-75">
      <div class="card-body">
        <div class="skill-details">
          <% if @skill.icon.attached? %>
            <div class="skill-icon text-center mb-4">
              <%= image_tag @skill.icon %>
            </div>
          <% end %>
          <div class="text-center mb-4">
            <p><strong>Name :</strong> <%= @skill.name %></p>
            <p><strong>Level :</strong> <%= @skill.level %></p>
            <p><strong>Section :</strong> <%= @skill.section %></p>
            <div class="description-container">
              <p><strong>Description :</strong></p>
              <div class="description-text">
                <%= @skill.description %>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_skill_path(@skill), class: "btn btn-sm mr-2" %>
              <%= turbo_frame_tag "skill_#{@skill.id}" do %>
              <%= button_to "Delete", skill_path(@skill), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette compétence ?" }, class: "btn btn-sm mr-2" %>
              <% end %>
            <% end %>
            <%= link_to 'Back', skills_path, class: "btn btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<style>
  .banner {
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 100%;
  }

  .banner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-family: "Cutive Mono", serif;
    font-size: 70px;
  }

  .no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .skill-icon img {
    width: 120px;
    height: 120px;
  }

  .description-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
  }

  .description-text {
    text-align: justify;
  }

  @media (max-width: 768px) {
    .skill-icon img {
      width: 50px;
      height: 50px;
    }

    .banner h1 {
      font-size: 30px;
    }

    .description-container {
      max-width: 100%;
      padding: 0 10px;
    }
  }
</style>

