<body>
  <div class="container">
    <h1>WORK EXPERIENCES</h1>
    <div class="row">
      <% @work_experiences.each do |experience| %>
        <div class="col-md-12 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <div class="skill-details">
                <h5 class="card-title"><%= experience.title %></h5>
                <p><%= experience.company %></p>
                <p><%= experience.start_date %></p>
                <p><%= experience.end_date %></p>
                <%= link_to "Details", experience, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to "Ajouter une nouvelle expérience", new_work_experience_path, class: "btn btn-primary" %>
  </div>
</body>
