<body>
  <!-- Bannière avec superposition du h1 -->
  <div class="banner position-relative mb-4">
    <img src="https://images.unsplash.com/photo-1579547621869-0ddb5f237392?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="degree banner">
    <h1 class="text-white position-absolute bottom-0 start-50 translate-middle-x mb-4">DEGREE</h1>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card text-center">
          <div class="card-body">
            <h2 class="text-center mb-4"><%= @degree.degree %></h2>

            <dl class="mb-4">
              <dt>Institution:</dt>
              <dd><%= @degree.institution %></dd>

              <dt>Degree:</dt>
              <dd><%= @degree.degree %></dd>

              <dt></dt>
              <dd class="d-inline-block mr-2">From <%= @degree.start_date.strftime('%d %B %Y') %></dd>
              <dd class="d-inline-block">to <%= @degree.end_date ? @degree.end_date.strftime('%d %B %Y') : 'Présent' %></dd>
            </dl>

            <div class="text-center mt-3">
  <% if user_signed_in? %> <!-- Vérifie si un utilisateur est connecté -->
    <%= link_to "Edit", edit_degree_path(@degree), class: "btn btn-sm mr-2" %>
    <%= turbo_frame_tag "degree_#{@degree.id}" do %>
      <%= button_to "Delete", @degree, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce diplôme ?" }, class: "btn btn-sm mr-2" %>
    <% end %> <!-- Fermeture correcte de la balise turbo_frame_tag -->
  <% end %>
  <%= link_to "Back", degrees_path, class: "btn btn-sm" %>
</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<style>
  .banner {
    overflow: hidden;
    position: relative;
    height: 400px; /* Hauteur de la bannière */
    width: 100%; /* Largeur de la bannière */
  }

  .banner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .banner h1 {
    position: absolute;
    top: 50%; /* Centrage vertical */
    left: 50%; /* Centrage horizontal */
    transform: translate(-50%, -50%); /* Ajustement pour centrer parfaitement */
    z-index: 1;
    color: white;
    font-family: "Cutive Mono", serif;
    font-size: 70px;
  }
  @media (max-width: 768px) {

    .banner h1 {
      font-size: 30px;
    }

    .card-body{
      font-size: 12px
    }
  }
</style>
