<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <%= simple_form_for(@contact) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :name, label: "Nom" %>
            <%= f.input :email, label: "Email" %>
            <%= f.input :phone, label: "Téléphone" %>
            <%= f.input :message, label: "Message", as: :text, input_html: { rows: 5 } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Envoyer", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
