<div class="contact" style="margin-top: 70px;">
  <div id="container-form">
    <h2>Contact</h2>
    <%= simple_form_for @contact, url: contacts_path, method: :post, id: "contact_form" do |form| %>

      <div class="name">
        <%= form.input :name, label: false, required: true, placeholder: "Name", input_html: { id: "name_input" } %>
      </div>

      <div class="email">
        <%= form.input :email, label: false, required: true, placeholder: "Email", input_html: { id: "email_input" } %>
      </div>

      <div class="subject">
        <%= form.select :subject, ['Just sayin\' "hi"!', 'Quick question.', 'How about a commission?'], { prompt: 'Subject' }, required: true, input_html: { id: "subject_input" } %>
      </div>

      <div class="message">
        <%= form.text_area :message, label: false, required: true, placeholder: "Message", input_html: { id: "message_input", cols: 30, rows: 5 } %>
      </div>

      <div class="submit">
        <%= form.submit "Envoyer", id: "form_button" %>
      </div>

    <% end %>
  </div>
</div>
