<div class="container">
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <div class="col">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    class: 'form-control form-control-sm' %>
      </div>
      <div class="col">
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" },
                    class: 'form-control form-control-sm' %>
      </div>
      <%= f.input :remember_me, as: :boolean, wrapper_html: { class: 'mb-3' } if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "btn btn-sm" %>
    </div>
  <% end %>

  <%# <%= render "devise/shared/links" %>
</div>
