<!DOCTYPE html>
<html>
  <head>
    <title>YouriCv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Skills", skills_path %></li>
    <li><%= link_to "Work Experiences", work_experiences_path %></li>
    <li><%= link_to "Degrees", degrees_path %></li>
    <li><%= link_to "Contact", new_contact_path %></li>
  </ul>
</nav>

  <body>
    <%= yield %>
  </body>
</html>
