<!DOCTYPE html>
<html>
  <head>
    <title>YouriCv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", type: "module" %>
  </head>


  <nav class="navbar">
  <label>
    <input type="checkbox">
    <span class="menu">
      <span class="hamburger"></span>
    </span>
    <ul class="mt-4">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Skills", skills_path %></li>
      <li><%= link_to "Work Experiences", work_experiences_path %></li>
      <li><%= link_to "Degrees", degrees_path %></li>
      <li><%= link_to "Contact", new_contact_path %></li>
      <li>
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </li>
    </ul>
  </label>
</nav>

  <body>
    <%= yield %>
    <footer class="bg-dark text-center text-white">
      <div class="container p-4 pb-0">
        <section class="mb-4">
          <!-- Vos icônes pour les réseaux sociaux -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
        </section>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 YouriCv - All right reserved
      </div>
    </footer>

  </body>



</html>
